# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/plugins/form-builder
# WordPress
web/wp
web/.htaccess

# Logs
*.log
.idea/form-builder.iml
.idea/php.xml
web/app/.DS_Store
web/app/themes/twentytwenty/vendor
# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
